* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #B1AFFF;
    color: #FFE9D0;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

